@model EMAProject.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <h1>Details Profile</h1>
    <a asp-action="Edit" asp-route-id="@Model.ClientID" class="btn btn-primary h-50 mt-2" target="_blank"> Edit Profile</a>
</div>

<br />
<div class="jumbotron p-0">
    <a class="btn btn-secondary w-100 text-left d-flex justify-content-between collapsed" data-toggle="collapse" href="#ClientProfile" role="button" aria-expanded="false" aria-controls="collapseExample">
        <h5>Client Details for @Model.FirstName @Model.Lastname</h5>
    </a>
    <div class=" collapse" id="ClientProfile">
        <div class="row p-4 w-100">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" readonly />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname" class="control-label"></label>
                    <input asp-for="Lastname" class="form-control" readonly />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ContactNumber" class="control-label"></label>
                    <input asp-for="ContactNumber" class="form-control" readonly />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine1" class="control-label"></label>
                    <input asp-for="AddressLine1" class="form-control" readonly />
                    <span asp-validation-for="AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine2" class="control-label"></label>
                    <input asp-for="AddressLine2" class="form-control" readonly />
                    <span asp-validation-for="AddressLine2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressLine3" class="control-label"></label>
                    <input asp-for="AddressLine3" class="form-control" readonly />
                    <span asp-validation-for="AddressLine3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReferredBy" class="control-label"></label>
                    <input asp-for="ReferredBy" class="form-control" readonly />
                    <span asp-validation-for="ReferredBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="NiNumber" class="control-label"></label>
                    <input asp-for="NiNumber" class="form-control" readonly />
                    <span asp-validation-for="NiNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" readonly />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoRelationship" class="control-label"></label>
                    <input asp-for="SoRelationship" class="form-control" readonly />
                    <span asp-validation-for="SoRelationship" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Medications" class="control-label"></label>
                    <input asp-for="Medications" class="form-control" readonly />
                    <span asp-validation-for="Medications" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientNotes" class="control-label"></label>
                    <textarea asp-for="ClientNotes" rows="5" class="form-control" readonly></textarea>
                    <span asp-validation-for="ClientNotes" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Subscriber" disabled /> @Html.DisplayNameFor(model => model.Subscriber)
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="SoFirstName" class="control-label"></label>
                    <input asp-for="SoFirstName" class="form-control" readonly />
                    <span asp-validation-for="SoFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SoLastName" class="control-label"></label>
                    <input asp-for="SoLastName" class="form-control" readonly />
                    <span asp-validation-for="SoLastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SoContactNumber" class="control-label"></label>
                    <input asp-for="SoContactNumber" class="form-control" readonly />
                    <span asp-validation-for="SoContactNumber" class="text-danger"></span>
                </div>
                <h4>Healthcare Providers</h4>
                <hr />
                <table id="hcptable_data" class="table-sm table-striped w-100 my-2">
                    @foreach (ClientHealthCareProvider hcp in Model.ClientHealthcareProviders)
                    {
                        <tr>
                            <td>@hcp.HealthCareProvider.Name</td>
                            <td>@hcp.HealthCareProvider.ContactNumber</td>
                        </tr>
                    }
                </table>
                <br />
            </div>
        </div>
    </div>
</div>

<section>
    <div class="d-flex justify-content-between">
        <h5>Active Client Interventions</h5>
        <a asp-controller="Interventions" asp-action="Create" asp-route-id="@Model.ClientID" class="btn btn-primary">
            Create New Intervention
        </a>
    </div>

    <br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">Next Session</th>
                <th scope="col">Attended Sessions</th>
                <th scope="col">Cancelled Sessions</th>
                <th scope="col">Behaviors Addressed </th>
                <th scope="col">Quick Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ClientIntervention intervention in Model.ClientInterventions)
            {
                if (!intervention.Intervention.IsComplete)
                {
                    <tr>
                        @if (intervention.Intervention.FirstSession == DateTime.MinValue)
                        {
                            <td>No Sessions Logged</td>
                        }
                        else
                        {
                            <td>@intervention.Intervention.FirstSession.ToLongDateString()</td>
                        }

                        @if (intervention.Intervention.NextSession == DateTime.MinValue)
                        {
                            <td>No Sessions Due</td>
                        }
                        else
                        {
                            <td>@intervention.Intervention.NextSession.ToLongDateString() at @intervention.Intervention.NextSession.ToLongTimeString()</td>
                        }
                        <td>@intervention.Intervention.AttendedSessionCount</td>
                        <td>@intervention.Intervention.CancelledSessionCouunt</td>
                        <td>@intervention.Intervention.Behaviours</td>
                        <td><a class="btn btn-secondary w-100" asp-controller="interventions" asp-action="details" asp-route-id="@intervention.InterventionID" target="_blank">View/Edit</a></td>
                    </tr>
                }

            }
        </tbody>
    </table>


    <hr />
</section>

<section>
    <h5>Closed Client Interventions</h5>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">Next Session</th>
                <th scope="col">Attended Sessions</th>
                <th scope="col">Cancelled Sessions</th>
                <th scope="col">Behaviors Addressed </th>
                <th scope="col">Quick Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (ClientIntervention intervention in Model.ClientInterventions)
            {
                if (intervention.Intervention.IsComplete)
                {
                    <tr>
                        @if (intervention.Intervention.FirstSession == DateTime.MinValue)
                        {
                            <td>No Sessions Logged</td>
                        }
                        else
                        {
                            <td>@intervention.Intervention.FirstSession.ToLongDateString()</td>
                        }
                        @if (intervention.Intervention.NextSession == DateTime.MinValue)
                        {
                            <td>No Sessions Due</td>
                        }
                        else
                        {
                            <td>@intervention.Intervention.NextSession.ToLongDateString() at @intervention.Intervention.NextSession.ToLongTimeString()</td>
                        }
                        <td>@intervention.Intervention.AttendedSessionCount</td>
                        <td>@intervention.Intervention.CancelledSessionCouunt</td>
                        <td>@intervention.Intervention.Behaviours</td>
                        <td><a class="btn btn-secondary w-100" asp-controller="interventions" asp-action="details" asp-route-id="@intervention.InterventionID" target="_blank">View/Edit</a></td>
                    </tr>
                }

            }
        </tbody>
    </table>
</section>
