@model EMAProject.Models.Session

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Session Details</h1>
<br/>
<div class="jumbotron py-4">
    <div class="row mb-4">
        <h4>
            Session for @{
                @foreach (ClientIntervention ci in Model.Intervention.ClientInterventions)
                {
                    <span>@ci.Client.FirstName</span> <span>@ci.Client.Lastname</span>
                }
            } on @Model.SessionTime.ToLongDateString()
        </h4>    
    </div>

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Client/s</label>
            @foreach (ClientIntervention ci in Model.Intervention.ClientInterventions)
            {
                <div class="form-group">
                    <input value="@ci.Client.FirstName @ci.Client.Lastname" class="form-control" readonly />
                </div>
            }
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Time</label>
                <input value="@Model.SessionTime.TimeOfDay" class="form-control" readonly />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Intervention Behaviours</label>
                <textarea class="form-control" readonly>@Model.Intervention.Behaviours</textarea>
            </div>
        </div>
        <div class="col-md-3">
            <label class="control-label">Actions</label>
                <button class="btn btn-danger d-block w-100">Cancel Session</button>
                <button class="btn btn-primary d-block w-100 mt-3">Close Session</button>
        </div>
    </div>
    
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
