@model IEnumerable<EMAProject.Models.Session>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Client/s    
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAccompanied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelivered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancelledBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intervention)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @foreach (ClientIntervention ci in item.Intervention.ClientInterventions)
                {
                    string name = $"{ci.Client.FirstName} {ci.Client.Lastname}";
                    <p> @name  </p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SessionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAccompanied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelledBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intervention.InterventionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SessionID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SessionID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SessionID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
