@model EMAProject.Models.Intervention

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" tabindex="-1" role="dialog" id="CloseInterventionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cloce Intervention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Close">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InterventionID">
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="PostInterventionScore" class="control-label"></label>
                        <input type="number" asp-for="PostInterventionScore" class="form-control" />
                        <span asp-validation-for="PostInterventionScore" class="text-danger"></span>
                    </div>
                    <div class="form-body">
                        <label asp-for="Treatment" class="control-label"></label>
                        <textarea asp-for="Treatment" class="form-control"></textarea>
                        <span asp-validation-for="Treatment" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Close Intervention" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between">
    <h1>Intervention Details</h1>
    <div>
        <a asp-action="edit" asp-route-id="@Model.InterventionID" class="btn btn-primary mt-2">Edit Intervention</a>
        <button type="button" data-toggle="modal" data-target="#CloseInterventionModal" class="btn btn-danger ml-2 mt-2" disabled="@Model.IsComplete">Close Intervention</button>
    </div>

</div>

<br />

<div class="jumbotron p-0">
    <a class="btn btn-secondary w-100 text-left d-flex justify-content-between collapsed" data-toggle="collapse" href="#InterventionProfile" role="button" aria-expanded="false" aria-controls="collapseExample">
        <h5>
            Intervention Details for
            @foreach (ClientIntervention ci in Model.ClientInterventions)
            {
                <span>@ci.Client.FirstName</span> <span>@ci.Client.Lastname</span>
            }
        </h5>
    </a>
    <div class=" collapse" id="InterventionProfile">
        <div class="row p-4 w-100">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="PreInterventionScore" class="control-label"></label>
                    <input asp-for="PreInterventionScore" type="number" class="form-control" readonly />
                    <span asp-validation-for="PreInterventionScore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PostInterventionScore" class="control-label"></label>
                    <input asp-for="PostInterventionScore" type="number" class="form-control" readonly />
                    <span asp-validation-for="PostInterventionScore" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Antecedence" class="control-label"></label>
                    <textarea rows="1" asp-for="Antecedence" class="form-control" readonly></textarea>
                    <span asp-validation-for="Antecedence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Behaviours" class="control-label"></label>
                    <textarea rows="1" asp-for="Behaviours" class="form-control" readonly></textarea>
                    <span asp-validation-for="Behaviours" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Consequence" class="control-label"></label>
                    <textarea rows="1" asp-for="Consequence" class="form-control" readonly></textarea>
                    <span asp-validation-for="Consequence" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Treatment" class="control-label"></label>
                    <textarea rows="1" asp-for="Treatment" class="form-control" readonly></textarea>
                    <span asp-validation-for="Treatment" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between">
    <h5>Session Log</h5>
    <a asp-controller="Sessions" asp-action="Create" asp-route-id="@Model.InterventionID" class="btn btn-primary @Html.Raw(Model.IsComplete?"disabled":"")">
        Create New Session
    </a>
</div>
<br />
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Session ID</th>
            <th scope="col">Date</th>
            <th scope="col">Delivered</th>
            <th scope="col">Notes Uploaded</th>
            <th scope="col">Cancelled By</th>
            <th scope="col">Quick Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Session session in Model.Sessions)
        {
            <tr>
                <th scope="row">@session.SessionID</th>
                <td>@session.SessionTime</td>
                <td>@session.IsDelivered</td>
                @if (session.SessionNoteID == null)
                {
                    <td>No</td>
                }
                else
                {
                    <td>Yes</td>
                }
                <td>@session.CancelledBy</td>
                <td><a asp-controller="sessions" asp-action="details" asp-route-id="@session.SessionID" class="btn btn-secondary">View/Edit</a></td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Intervention List</a>
</div>
