
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a href="@Url.Action("index", "clients")">Client List</a>
        <br />
        <a href="@Url.Action("index", "healthcareproviders")">Healtch Care Providers List</a>
        <br />
        <a href="@Url.Action("index", "interventions")">Interventions List</a>
        <br />
        <a href="@Url.Action("index", "sessions")">Sessions List</a>
        <br />
        <a href="@Url.Action("index", "gdprpolicies")">GDPR Policies List</a>
    </div>
